
@{
    ViewData["Title"] = "Contact Us";
}
<h2>Kontaktirajte nas!</h2>
<p>Za sve potrebe i odgovore na pitanja slobodno nam se obratite putem mail-a. Bilo bi nam drago kada bismo Vam mogli pomoći!</p>

<div>
    <span>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </span>
    <email address="example@example.com" content="Pošalji mail"></email>
</div>
