
@{
    ViewData["Title"] = "CheckoutComplete";
}
<h2>Uspješno provedena narudžba!</h2>

<p>Hvala Vam! Kontaktirati ćemo Vas u roku od 24h.</p>

<br />
<p>
    Želite li naručiti još?
    <a href="/">Kliknite ovdje</a>
</p>
<p>Ili,</p>
<p>
    Za provjeru narudžbe
    <a href="/order/myOrder">Kliknite ovdje</a>
</p>
