<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Vrste slastica
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" asp-controller="/cakes" asp-action="Bezglutenske torte">Bezglutenske torte</a>
    <a class="dropdown-item" asp-controller="/cakes" asp-action="Čokoladne torte">Čokoladne torte</a>
    <a class="dropdown-item" asp-controller="/cakes" asp-action="Voćne torte">Voćne torte</a>
    <a class="dropdown-item" asp-controller="/cakes" asp-action="Cheescake">Cheescake</a>
    <a class="dropdown-item" asp-controller="/cakes" asp-action="Suhi kolači">Suhi kolači</a>
    <a class="dropdown-item" asp-controller="/cakes" asp-action="Mokri kolači">Mokri kolači</a>


    <div class="dropdown-divider"></div>
    <a class="dropdown-item" asp-controller="/cakes" asp-action="">Sve slastice</a>
</div>